## Libraries

In [1]:
# Libraries Datasets
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

#Libraries System
import os
import mysql.connector # Assembler
import MySQLdb

# Libraries 
import random, string
from random import randrange
from datetime import datetime


# import warnings
# warnings.filterwarnings("ignore")

## MySQL Conecction

In [2]:
engine = create_engine('mysql://root:1234@localhost/development') # enter your password and database names here
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
# db = mysql.connector.connect(
#     host = "localhost",
#     user="root",
#     password="1234",
#     database= "development"
#     )
# def sql(_query):
#     return pd.read_sql_query(_query, db)
# cursor = db.cursor()

## SQL queries

### Development

In [ ]:
country=pd.read_csv('develop/Country.csv')
country.to_sql('country',con=engine,index=False,if_exists='append') 

country_notes=pd.read_csv('develop/CountryNotes.csv')
country_notes.to_sql('country_notes',con=engine,index=False,if_exists='append') 

foot_notes=pd.read_csv('develop/Footnotes.csv')
foot_notes.to_sql('foot_notes',con=engine,index=False,if_exists='append') 

indicators=pd.read_csv('develop/indicators.csv')
indicators.to_sql('indicators',con=engine,index=False,if_exists='append') 

series=pd.read_csv('develop/Series.csv')
series.to_sql('series',con=engine,index=False,if_exists='append') 

series_notes=pd.read_csv('develop/SeriesNotes.csv')
series_notes.to_sql('series_notes',con=engine,index=False,if_exists='append')

### Migration

In [ ]:
migration=pd.read_csv('Migration/migration_population.csv')
migration.to_sql('migration',con=engine,index=False,if_exists='append')

### Renewable Energy

In [5]:
import os

# Ruta de la carpeta con los archivos CSV
ruta_carpeta = "Renowabl_Energy"

# Obtener la lista de archivos en la carpeta
archivos = os.listdir(ruta_carpeta)
nombres_archivos_csv = []
# Recorrer cada archivo en la lista
for archivo in archivos:
    if archivo.endswith(".csv"):  # Solo considerar archivos CSV
        path = os.path.join(ruta_carpeta, archivo)

        with open(path, "r") as file:
            df = pd.read_csv(file)  # Leer el contenido del archivo
            df.to_sql(f'{archivo}',con=engine,index=False,if_exists='append')
print("Los nombres de los archivos se han actualizado correctamente.")

C:\Users\macka\anaconda3\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name '13_installed-solar-PV-capacity.csv' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Los nombres de los archivos se han actualizado correctamente.

In [ ]:
# query= """
#     CREATE TABLE country (    
#         id_country INT PRIMARY KEY NOT NULL AUTO_INCREMENT)  
# """
# cursor.execute(query)
# db.commit()

In [ ]:
# query= """
#     CREATE TABLE country_notes (    
#         id_country_notes INT PRIMARY KEY NOT NULL AUTO_INCREMENT);       
# """
# cursor.execute(query)
# db.commit()

In [ ]:
# query= """
#     CREATE TABLE foot_notes (    
#         id_foot_notes INT PRIMARY KEY NOT NULL AUTO_INCREMENT);      
# """
# cursor.execute(query)
# db.commit()

In [ ]:
# query= """
#     CREATE TABLE indicators (    
#         id_indicators INT PRIMARY KEY NOT NULL AUTO_INCREMENT);    
# """
# cursor.execute(query)
# db.commit()

In [ ]:
# query= """
#     CREATE TABLE series (    
#         id_series INT PRIMARY KEY NOT NULL AUTO_INCREMENT);   
# """
# cursor.execute(query)
# db.commit()

### Describe Tables

In [8]:
cursor = engine.c
cursor.execute("SHOW TABLES")
tablas = cursor.fetchall()

for tabla in tablas:
    nombre_tabla = tabla[0]
    consulta_select = f"SELECT * FROM {nombre_tabla}"
    df = pd.read_sql(consulta_select, conexion)

AttributeError: 'Engine' object has no attribute 'cursor'

### Development